# LTspice ###########################################################################
# gitignore template for LTspice
# website: https://www.analog.com/en/design-center/design-tools-and-calculators/ltspice-simulator.html

# Logfile
*.log

# Simulation Outputs
*.raw
*.fft

# Netlist
*.net

# Qspice ###########################################################################
# output data file
*.qraw

# plot config file
# *.pfg

test.qsch